<div class="backdrop files" ng-controller="EmbeddedMarkdown.Editor.FilesOpenController">
  <xpanel>
    <xpart as="header">
      <button xclose />
      <h2>Open File <small>select a file to open</small></h2>
    </xpart>

    <xpart as="body">
      <xkey action="" />
      <ul class="breadcrumb">
        <li ng-repeat="part in controller.path">
          <a ng-click="controller.navigate($index)">{{part}}</a>
          <span class="divider" ng-hide="$last">&gt;</span>
        </li>
      </ul>
      <ul class="listing">
        <li class="header">
          <span>
            <span class="name">Name</span>
            <span class="lastedit">Last Edited</span>
            <span class="size">Size</span>
          </span>
        </li>
        <li ng-repeat="file in controller.files"
            ng-click="controller.onClick(file)"
            ng-class="{selected: file == controller.currentFile}"
            class="file"
            tabindex="1">
          <span>
            <span class="name">{{file.name}}</span>
            <span class="lastedit"
                  ng-class="{isToday: controller.isToday(file.metadata.lastEdited)}">
              <span class="day">{{file.metadata.lastEdited | date:"dd MMM yyyy"}}</span>
              <span class="time"> {{file.metadata.lastEdited | date:'h:mm a'}}</span>
            </span>
            <span class="size">{{controller.formatFileSize(file.metadata.size)}}</span>
          </span>
        </li>
      </ul>
    </xpart>

    <xpart as="footer">
      <span class="message">
        <span class="label label-important">Note</span>
        Browser storage is limited to a total of 5MB for all files
      </span>
      <button xokay text="Open"
              ng-disabled="controller.currentFile == null" />
      <button xcancel autofocus  />
    </xpart>
  </xpanel>
</div>
