body,
#app,
#body {
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
}
#body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #444444, #222222);
}
#menu > ul {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
}
#menu > ul a {
  text-decoration: none;
  color: black;
  padding: 3px 0 3px 0;
}
#menu > ul > li {
  display: inline-block;
  position: relative;
}
#menu > ul > li > a {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  color: #c6c6c6;
}
#menu > ul li > ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 5px;
  background-color: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#menu > ul li > ul a {
  min-width: 150px;
  display: inline-block;
  padding-left: 20px;
}
#menu > ul.focused li:hover {
  background-color: #eee;
}
#menu > ul.focused li:hover > ul {
  display: block;
  margin-left: 0px;
  z-index: 99999;
}
#menu > ul.focused li.top-level:hover {
  background-color: black;
}
#menu > ul.focused li.top-level:hover > a {
  color: white;
}
#menu > ul li {
  list-style: none;
  list-style-image: none;
}
#app {
  position: absolute;
  top: 30px;
  bottom: 25px;
  left: 5px;
  right: 5px;
}
#app > div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#status {
  background-image: linear-gradient(to bottom, #444444, #222222);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
}
#primary-panel {
  min-width: 600px;
  min-height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  z-index: 1000;
}
#primary-panel.hidden {
  display: none;
}
#primary-panel > div.panel-container {
  border: 1px solid #666;
  background-color: #333;
  position: absolute;
  right: 2em;
  left: 2em;
  top: 2em;
  bottom: 2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#primary-panel > div.panel-container > div.panel {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
#primary-panel > div.panel-container > div.panel > div {
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 1em;
}
#primary-panel > div.panel-container > div.panel > div.header {
  top: 0px;
  display: table-row;
  height: 7em;
  border-bottom: 1px solid #ddd;
  padding: .1em 1em;
}
#primary-panel > div.panel-container > div.panel > div.body {
  top: 7.3em;
  bottom: 3.8em;
  height: auto;
  display: table-row;
  overflow: auto;
}
#primary-panel > div.panel-container > div.panel > div.footer {
  position: absolute;
  bottom: 0px;
  height: 3.5em;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: right;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  padding: .1em 1em;
}
#primary-panel > div.panel-container > div.panel > div.footer .btn {
  margin: 6px 5px;
  min-width: 80px;
  margin-top: 10px;
}
.md-editor .editor,
.md-editor .preview {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 3px;
  border: 1px solid #666;
}
.md-editor .preview {
  overflow: auto;
  background-color: white;
  padding: 5px;
}
.md-editor .preview iframe {
  width: 99%;
  height: 99%;
  border: none !important;
}
#app.mode-editAndPreview .md-editor {
  display: block;
}
#app.mode-editAndPreview .images {
  display: none;
}
#app.mode-editAndPreview .md-editor .editor {
  right: 50%;
  left: 0;
}
#app.mode-editAndPreview .md-editor .preview {
  left: 50%;
  right: 0;
}
#app.mode-editOnly .md-editor {
  display: block;
}
#app.mode-editOnly .images {
  display: none;
}
#app.mode-editOnly .md-editor .editor {
  right: 0;
  left: 0;
}
#app.mode-editOnly .md-editor .preview {
  display: none;
  left: 0;
  right: 0;
}
#app.mode-images .md-editor {
  display: none;
  visibility: hidden;
}
#app.mode-images .images {
  display: block;
}
#document-loader {
  display: none;
}
/* Make sure the ace markdownEditor is always expanded fully */
.editor .md-ace-editor {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#download-document {
  background-color: #2f2f2f;
}
#download-document label,
#download-document input {
  display: inline-block;
}
#download-document input {
  position: relative;
  top: 3px;
  text-align: right;
}
body #drag-fileLoad {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 2500;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
body.drag #drag-fileLoad {
  display: block;
}
#panel-images {
  margin: 3px;
  background-color: #333;
}
#panel-images .header.dragging {
  background-color: blue;
}
#panel-images .image {
  background-color: rgba(255, 255, 255, 0.05);
  height: 120px;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#panel-images .image:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#panel-images .image p {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  font-size: .7em;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  overflow: hidden;
  height: 1.7em;
  margin-bottom: 0px;
}
#panel-images .image .framed-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#panel-images .image .framed-image img {
  max-width: 90px;
  max-height: 90px;
}
