#panel-images .header.dragging {
  background-color: blue;
}
#panel-images .image {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#panel-images .image:hover,
#panel-images .image:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: 1px solid blue;
}
#panel-images .image:hover p,
#panel-images .image:focus p {
  background-color: #000000;
}
#panel-images .image p {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  height: 1.7em;
  margin-bottom: 0px;
  text-align: left;
  padding-left: .5em;
  background-color: rgba(0, 0, 0, 0.25);
}
#panel-images .image span.actions {
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
}
#panel-images .image span.actions span {
  opacity: .5;
}
#panel-images .image span.actions span:hover {
  opacity: 1;
}
#panel-images .image img {
  max-width: 400px;
  max-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#panel-images .images-container {
  width: 100%;
  height: 100%;
}
.image-preview {
  position: absolute;
  left: 1em;
  top: 1em;
  bottom: 1em;
  right: 1em;
  background-color: rgba(255, 255, 255, 0.1);
}
.image-preview > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.image-edit {
  position: absolute;
  top: 1em;
  right: .5em;
  width: 20em;
}
