::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body,
#app,
#body {
  background-color: #333;
  font-family: 'Tahoma', sans-serif;
}
body h1,
#app h1,
#body h1,
body h2,
#app h2,
#body h2,
body h3,
#app h3,
#body h3,
body h4,
#app h4,
#body h4 {
  font-weight: normal;
}
#body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #444444, #222222);
}
#menu > ul {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 5px;
}
#menu > ul a {
  text-decoration: none;
  color: black;
  padding: 3px 0 3px 0;
}
#menu > ul > li {
  display: inline-block;
  position: relative;
}
#menu > ul > li > a {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  color: #c6c6c6;
}
#menu > ul li > ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 5px;
  background-color: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#menu > ul li > ul a {
  min-width: 150px;
  display: inline-block;
  padding-left: 20px;
}
#menu > ul.focused li:hover {
  background-color: #eee;
}
#menu > ul.focused li:hover > ul {
  display: block;
  margin-left: 0px;
  z-index: 99999;
}
#menu > ul.focused li.top-level:hover {
  background-color: black;
}
#menu > ul.focused li.top-level:hover > a {
  color: white;
}
#menu > ul li {
  list-style: none;
  list-style-image: none;
}
.ace_editor,
.editor {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#app {
  position: absolute;
  top: 30px;
  bottom: 25px;
  left: 5px;
  right: 5px;
}
#app > div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#status {
  background-image: linear-gradient(to bottom, #444444, #222222);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
}
.full {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.full .full {
  z-index: 2000;
}
.full .full .full {
  z-index: 3000;
}
.dialog-view {
  text-align: center;
}
.dialog {
  min-width: 200px;
  min-height: 100px;
  display: inline-block;
  margin: 3em auto;
  text-align: left;
  border: 1px solid #666;
  background-color: #333;
}
.dialog.small {
  width: 600px;
}
.dialog .header {
  border-bottom: 1px solid #ddd;
  padding: 0em 1em;
}
.dialog .body {
  padding: 1em;
}
.dialog .footer {
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: right;
}
.dialog .footer .btn {
  margin: 6px 5px;
  min-width: 80px;
  margin-top: 10px;
}
.dialog .footer button.action {
  float: left;
}
.panel-view {
  min-width: 500px;
  min-height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.panel-view > div.panel-container {
  border: 1px solid #666;
  background-color: #333;
  position: absolute;
  right: 2em;
  left: 2em;
  top: 2em;
  bottom: 2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-view > div.panel-container > div.panel {
  height: 100%;
  width: 100%;
}
.panel-view > div.panel-container > div.panel > div.content-container {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.header .content-container,
.panel-view > div.panel-container > div.panel > div.content-container > div.body .content-container,
.panel-view > div.panel-container > div.panel > div.content-container > div.footer .content-container {
  height: 100%;
  width: 100%;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.header {
  display: table-row;
  height: 1em;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.header > .content-container {
  border-bottom: 1px solid #ddd;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.header > .content-container > .content {
  padding: .1em 1em;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.header button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: white;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.body {
  display: table-row;
  overflow: hidden;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.body > .content-container {
  overflow: auto;
  display: table-cell;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.body > .content-container > .content {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.footer {
  display: table-row;
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: right;
  vertical-align: middle;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.footer .message {
  padding-top: 1em;
  float: left;
  text-align: left;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.footer .btn {
  margin: 6px 5px;
  min-width: 80px;
  margin-top: 10px;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.footer button.action {
  float: left;
}
.panel-view > div.panel-container > div.panel > div.content-container > div.footer > .content-container > .content {
  padding: .1em 1em;
}
.md-editor .editor,
.md-editor .preview {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 3px;
  border: 1px solid #666;
}
.md-editor .preview {
  background-color: white;
  padding: 5px;
}
.md-editor .preview iframe {
  width: 99%;
  height: 99%;
  border: none !important;
}
#app.mode-editAndPreview .md-editor {
  display: block;
}
#app.mode-editAndPreview .images {
  display: none;
}
#app.mode-editAndPreview .md-editor .editor {
  right: 50%;
  left: 0;
}
#app.mode-editAndPreview .md-editor .preview {
  left: 50%;
  right: 0;
}
#app.mode-editOnly .md-editor {
  display: block;
}
#app.mode-editOnly .images {
  display: none;
}
#app.mode-editOnly .md-editor .editor {
  right: 0;
  left: 0;
}
#app.mode-editOnly .md-editor .preview {
  display: none;
  left: 0;
  right: 0;
}
#app.mode-images .md-editor {
  display: none;
  visibility: hidden;
}
#app.mode-images .images {
  display: block;
}
#document-loader {
  display: none;
}
/* Make sure the ace markdownEditor is always expanded fully */
.editor .md-ace-editor {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#download-document {
  background-color: #2f2f2f;
}
#download-document label,
#download-document input {
  display: inline-block;
}
#download-document input {
  position: relative;
  top: 3px;
  text-align: right;
}
body #drag-fileLoad {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 2500;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
body.drag #drag-fileLoad {
  display: block;
}
#panel-images .header.dragging {
  background-color: blue;
}
#panel-images .image {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#panel-images .image:hover,
#panel-images .image:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: 1px solid blue;
}
#panel-images .image:hover p,
#panel-images .image:focus p {
  background-color: #000000;
}
#panel-images .image p {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  height: 1.7em;
  margin-bottom: 0px;
  text-align: left;
  padding-left: .5em;
  background-color: rgba(0, 0, 0, 0.25);
}
#panel-images .image span.actions {
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
}
#panel-images .image span.actions span {
  opacity: .5;
}
#panel-images .image span.actions span:hover {
  opacity: 1;
}
#panel-images .image img {
  max-width: 400px;
  max-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#panel-images .images-container {
  width: 100%;
  height: 100%;
}
.image-preview {
  position: absolute;
  left: 1em;
  top: 1em;
  bottom: 1em;
  right: 1em;
  background-color: rgba(255, 255, 255, 0.1);
}
.image-preview > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.image-edit {
  position: absolute;
  top: 1em;
  right: .5em;
  width: 20em;
}
#image-rename label {
  display: inline-block;
  vertical-align: middle;
  height: 1.8em;
}
#image-rename input {
  display: inline-block;
  vertical-align: middle;
}
.files {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.files ul.breadcrumb a {
  cursor: pointer;
}
.files ul.type {
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-image: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 10px;
  float: left;
  display: table;
}
.files ul.type li {
  display: table-row;
}
.files ul.type li span {
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  display: table-cell;
  padding: 10px 16px 10px 16px;
  text-align: right;
  font-size: 1.2em;
}
.files ul.type li span:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.files ul.type li span.selected {
  border-style: solid;
  border-width: 1px;
  border-color: #666 transparent #666 #666;
  background-color: #2f2f2f;
  position: relative;
  left: 1px;
  z-index: 100;
}
.files .tab-contents {
  border-left: solid 1px #666;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.files .tab-contents .listing-container {
  position: absolute;
  left: 12px;
  right: 0px;
  top: 2.2em;
  bottom: 0px;
}
.files div.heading {
  table-layout: fixed;
  padding: 8px;
  background-color: black;
  font-size: 1.2em;
  color: white;
}
.files div.heading > span > span.name {
  padding-left: 15px;
}
.files div.heading .pad {
  width: 16px;
}
.files ul.listing {
  padding: 0px;
  margin: 0px;
  list-style: none;
  list-style-image: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
.files ul.listing > li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.files ul.listing > li.file:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.files ul.listing > li.file.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.files ul.listing > li,
.files div.heading {
  display: table;
  table-layout: fixed;
  padding: 5px 5px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.files ul.listing > li > span,
.files div.heading > span {
  position: relative;
  display: table-row;
}
.files ul.listing > li > span span,
.files div.heading > span span {
  display: table-cell;
}
.files ul.listing > li > span .name,
.files div.heading > span .name {
  padding-left: 10px;
}
.files ul.listing > li > span .size,
.files div.heading > span .size {
  text-align: center;
  width: 80px;
}
.files ul.listing > li > span .lastedit,
.files div.heading > span .lastedit {
  width: 120px;
  text-align: center;
}
.files ul.listing > li > span .lastedit.isToday .day,
.files div.heading > span .lastedit.isToday .day {
  display: none;
}
.files ul.listing > li > span .lastedit.isToday .time,
.files div.heading > span .lastedit.isToday .time {
  display: inline;
}
.files ul.listing > li > span .lastedit .day,
.files div.heading > span .lastedit .day {
  display: inline;
}
.files ul.listing > li > span .lastedit .time,
.files div.heading > span .lastedit .time {
  display: none;
}
